.menu-navBar{
    display: flex;
 justify-content: flex-end ;
   background-color: rgb(219, 37, 24);
}

.titulo{
 color: rgb(3, 3, 3);
   margin: 30px;
}

.menu-lista{
display: flex ;
flex-direction: row;
list-style-type: none;
color: rgb(220, 219, 226);
font-weight: bolder;
font-size: 17px;
margin: auto;

}


.lista{
    display: flex;
margin: auto;
    margin: 20px;
    text-decoration: none;
color:rgb(238, 231, 235);
font-size: 22px;
}

.active{
    color:antiquewhite;
}