.data{
    display: flex;
    flex-direction: column;
}
.imagen{
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

.titulazo{
    color:rgb(10, 8, 9);
    font-size: 11px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}